<div class="main">
  <div class="addLinear">
    <nav class="navbarContainer">
      <div class="container">
        <a class="navbar-brand" href="/home">
          <img
            src="../../../assets/images/logo.png"
            alt="Netflix"
            width="200"
            height="130"
          />
        </a>
        <button routerLink="/login" type="button" class="btn btn-danger">
          Entrar
        </button>
      </div>
    </nav>

    <div class="d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
