<div class="main">

  <main class="form-signin w-100 m-a form-control-lg custom-background">
    <form class="form">
      <div class="formGroup" [formGroup]="formLogin">
      <h1 class="h3 mb-3 fw-normal text-white">Entrar</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="emailLogin"
          [(ngModel)]="emailLogin"
        />
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="passwordLogin"
          [(ngModel)]="passwordLogin"
        />
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="checkbox mb-3 text-white">
        <label>
          <input type="checkbox" value="remember-me" /> Lembre de mim
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-danger" type="submit" (click)="onLogar()">Entrar</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2023</p>
    </div>
    </form>
  </main>
</div>
