<app-menu></app-menu>

<div class="cardLogin">
    <div class="login">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit" >
        <div class="form-group">
            <label>E-mail:</label>
            <input placeholder="e-mail" type="email" formControlName="email">
        </div>
        <div class="form-group">
            <label>Senha:</label>
            <input placeholder="senha" type="password" formControlName="password">
        </div>
    
        <button type="submit" routerLink="/serie" >Cadastrar</button>
    </form>
  
    </div>
  </div>